
/* Geral */
html {
  min-height: 100%;
  height: 100%;
  position: relative;
}

body {
  height: 100%;
  font-family: 'Lato';
}

a{
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
}

/* Home */

/* Menu */

.topBar{
    background: rgba(0,0,0,0.8);
    color: #fff;
    text-align: right;
    padding: 0;
    position: relative;
}

.topBar span{
    padding: 10px 20px;
    float: right;
}

.topBar span > a{
    color: #fff;
    text-decoration: underline;
}

.topBar span > a:hover{
    color: #a24be7;
}

.topBar span > b{
    font-weight: normal;
    font-size: 0.75em;
}

.topBar > .container{
    position: relative;
}

.topBar > .container > a{
    background: #7007c4;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;    
    float: right;
    font-weight: bold;
    margin-left: 20px;
}

.topBar > .container > a:hover, .topBar > .container > a:focus{
    background: #a24be7;
    text-decoration: none;
}

.topBar > .container > a > i{
    margin-right: 5px;
}

.restricted{
    position: absolute;
    right: 15px;
    top: 41px;
    z-index: 9999;
    background: #7007c4;
    padding: 15px;
    width: 235px;
    display: none;
}


.restricted a{
    background: #fff;
    color: #7007c4;
    font:1.3em 'Oswald';
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    margin: 5px 0;
}

.restricted a:hover, .restricted a:focus{
    color: #fff;
    background: #0C0B0E;
    text-decoration: none;
}

.restricted .well{
    background: none;
    border: none;
    padding: 10px 0 0 0;
    margin: 0;
}


.form-control{
    border-radius: 0px;
    font-family: 'Lato';
    color: #222;
}

.form-control:focus{
    border-color: #A24BE7;
    box-shadow: none;
}

.restricted .btn{
    width: 100%;
    border-radius: 0px;
    color: #7007c4;
    font:1.3em 'Oswald';
    text-transform: uppercase;
    border-color: #fff;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
}

.restricted .btn:hover{
    color: #fff;
    background: #0C0B0E;
}

.restricted label{
    text-align: left;
    width: 100%;
    margin-top: 10px;
}


.navbar-default {
    background: rgba(0,0,0,0);
    box-shadow: none;
    border-bottom: 0px;
}

.navbar-default .navbar-brand{
    height: 130px;
}

.navbar-default .navbar-brand img{
    height: 100%;
}

.navbar-default .navbar-nav > li > a{
    color: #fff;
    padding: 10px;
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 1.25em;
}

.navbar-default .navbar-nav > li > a:hover, .nav-internal .navbar-nav > li > a:hover{
    color: #a24be7;    
    background: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover,
.nav-internal .navbar-nav > .active > a, .nav-internal .navbar-nav > .active > a:focus, .nav-internal .navbar-nav > .active > a:hover,
.navbar-nav > .activeI, .navbar-nav > .activeI:focus, .navbar-nav > .activeI:hover{
    color: #a24be7;
    background: none;
    box-shadow: none;
}

.navbar-default .navbar-nav{
    margin-top: 50px;
}

.nav-down {
    background: rgba(0,0,0,0.9);
}

.nav-down .navbar-brand{
    height: 95px;
    padding-top: 5px;
}

.nav-down .navbar-brand img{
    height: 100%;
}

.nav-down .navbar-nav{
    margin-top: 30px;
}

.nav-down .navbar-nav > li > a{
    color: #fff;
    padding: 10px;
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 1.25em;
}

.nav-down  .navbar-nav > li > a:hover{
    color: #a24be7;
}

.nav-down  .navbar-nav > .active > a, .nav-down .navbar-nav > .active > a:focus, .nav-down  .navbar-nav > .active > a:hover{
    color: #a24be7;
    background: none;
    box-shadow: none;
}

/* Banner */

.carousel {
    height: 100%;      
}

.carousel-inner{
    height: 100%;    
    overflow: hidden;
}

.carousel-inner .item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    max-height: 100%;
    transition-property: opacity;
}

.carousel-fade .item, .carousel-fade .active.left, .carousel-fade .active.right {
        opacity: 0;
}

.carousel-fade .active,.carousel-fade .next.left, .carousel-fade .prev.right {
    opacity: 1;
}

.carousel-fade .next, .carousel-fade .prev, .carousel-fade .active.left, .carousel-fade .active.right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

.carousel-indicators .active{
    background: #a24be7;
    border-color: #a24be7;
}

.carousel-fade:after {
  content: "";
  position: relative;
  top:17px;
  margin-left: -20px;
  left: 50%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #0c0b0e;
}

/* Internal Areas */

.internalAreas{
    padding: 0 0 200px 0 ;
    float: left;
    width: 100%;
}

.internalAreas > h1{
    font:2em 'Oswald';
    text-transform: uppercase;
    color: #0c0b0e;
    border-bottom: 1px solid #7007c4;
    margin: 0 0 20px;
}

.internalAreas > h2{
    font:1.5em 'Oswald';
    text-transform: uppercase;
    color: #0c0b0e;
    margin: 0 0 20px;
}

.internalAreas > h2 b{
    font-weight: normal;
    color:#7007c4;
}

.internalAreas p{
    color: #222222;
    font-size: 1.2em;
    line-height: 1.5em;
}

.buttonSpace{
    display: block;
    text-align: center;
}

.mainButton{
    background: #7007c4;
    color: #fff;
    font: 1.4em 'Oswald';
    text-transform: uppercase;
    border-radius: 0px;
    padding: 10px 30px;
}

.mainButton:hover{
    color: #fff;
    background: #0c0b0e;
}

.aboutImg, .cashbackImg{
    text-align: center;
    margin-top: 80px;
    width: 100%;
}

.cashbackImg{
    margin-bottom: 80px;
}

.aboutImg img, .cashbackImg img{
    max-width: 100%;
}

#quem-somos{
    margin-top: 100px;
}

/* Cashback */

.cashbackDiagram{
    margin: 40px 0 80px 0;
    display: none;
}

.cashbackDiagram > ul{
    list-style: none;
    padding: 0;
}

.cashbackDiagram > ul > li{
    text-align: center;
    background: #f3f3f3;
    width: 33.33%;                        
    width: -webkit-calc(33.33% - 14px);  
    width: -moz-calc(33.33% - 14px);     
    width: calc(33.33% - 14px);
    margin: 0 21px 21px 0;
    float: left;
    position: relative;
    padding: 20px 10px 10px 10px;
}


.cashbackDiagram > ul > li:nth-child(1):before, .cashbackDiagram > ul > li:nth-child(2):before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: -21px;
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-left: 21px solid #7007c4;
}

.cashbackDiagram > ul > li:nth-child(4):before, .cashbackDiagram > ul > li:nth-child(5):before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: -21px;
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-right: 21px solid #7007c4;
}

.cashbackDiagram > ul > li:nth-child(3):before{
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -21px;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-top: 21px solid #7007c4;
}

.cashbackDiagram > ul > li:nth-child(3){
    margin-right: 0px;
}

.cashbackDiagram > ul > li:nth-child(4), .cashbackDiagram > ul > li:nth-child(5), .cashbackDiagram > ul > li:nth-child(6){
    float: right;
}

.cashbackDiagram > ul > li:nth-child(4){
    margin-right: 0px;
}

.cashbackDiagram > ul > li > img{
    max-width: 100%;
}


.cashbackDiagram ul li span{
    display: block;
    color: #7007c4;
    font: 1.4em 'Oswald';
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
    min-height: 88px;
}

/* Parceiros Ca$hback */

.flip-container { 
        -webkit-perspective: 1000;
        -ms-perspective: 1000;
        -moz-perspective: 1000;
        perspective: 1000;
    
}
      
.flip-container, .flip-container .front, .flip-container .back {
    position:absolute; 
    top:0; 
    left:0;
    text-align: center;    
    border-radius: 100%;
    width: 95%;                        
    width: -webkit-calc(100% - 20px);  
    width: -moz-calc(100% - 20px);     
    width: calc(100% - 20px);
    height: 100%;
}

.flip-container, .flip-container .front, .flip-container .back {
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s linear;        
    -ms-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipper{
    height: 100%;
}
        
.front {
    background-color: #fff;
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    border:1px solid #7007c4;    
    cursor: pointer;
}

.back {
    background: rgba(112,7,196,0.95);
    text-align:center; 
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container:hover .back, .flip-container:hover .front {
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.partnersCash{
    list-style: none;
    padding: 0;
    margin: 20px 0 50px;
    float: left;
    width: 100%;
}

.partnersCash > li{
    width: 20%;
    width: calc(20% - 16px);
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    position: relative;
}

.partnersCash > li:nth-child(5n){
    margin-right: 0px;
}

.partnersCash .back a{         
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 28%;
    color: #fff;
}

.partnersCash .back a > h3{
    font: 1.4em 'Oswald';
    text-transform: uppercase;
}

.partnersCash .back a:hover{
    text-decoration: none;
}

/* Clube de Vabtagens */

.club{
    padding: 0;
    list-style: none;
    float: left;
    width: 100%;
    margin: 20px 0 50px;
}

.club > li{
    width: 50%;
    width: calc(50% - 10px);
    background-size: 100%;
    background-position: center center;
    height: 220px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    float: left;
    margin: 0px 20px 20px 0;
}

.club > li:nth-child(2n){
    margin-right: 0px;
}

.club > li > a{
    float: left;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.95) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.95)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.95) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.95) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.95) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.95) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    padding: 20px;
    position: relative;
}

.club > li > a > div{
    position: absolute;
    bottom: 10px;
}

.club > li > a > div > h3{
    color: #fff;
    font: 2em 'Oswald';
    text-transform: uppercase;
    margin: 0;
}

.club > li > a > div > p{
    color: #fff;
}

.club > li:hover{
    background-size: 120%;
}

/* Fornecedores */

.providers{
    list-style: none;
    padding: 0;
    margin: 20px 0 50px;
    float: left;
    width: 100%;
}

.providers > li{
    width: 20%;
    width: calc(20% - 16px);
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    position: relative;
    background-size: 75%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    border:1px solid #7007c4; 
    filter: saturate(0%);
    -webkit-filter: saturate(0%);
    -moz-filter: saturate(0%);
    -o-filter: saturate(0%);
    -ms-filter: saturate(0%);
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.providers > li:nth-child(5n){
    margin-right: 0px;
}

.providers > li > a{
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.providers > li:hover{
    filter: saturate(100%);
    -webkit-filter: saturate(100%);
    -moz-filter: saturate(100%);
    -o-filter: saturate(100%);
    -ms-filter: saturate(100%);
}

/* Instagram */

.insta{
    margin-top: 30px;
}

/* Contact */

.contactLink{
    width: 50%;
    width: calc(50% - 10px);
    float: left;
    border: 1px solid #7007c4;
    color: #7007c4; 
    font: 1.7em 'Oswald';
    text-transform: uppercase;
    padding: 10px;
    margin: 20px 20px 20px 0;
}

.contactLink:hover{
    background: #7007c4;
    color: #fff;
    text-decoration: none;
}

.contactLink:nth-child(2n){
    margin-right: 0px;
}

.contactText{
    display: block;
    margin-bottom: 5px;
}

.contactText i{
    color: #7007c4; 
}

/* Mapa */

#map{
    width: 100%;
    height: 350px;
}

/* Rodapé */

#footer { 
  width: 100%;
  height: 70px;
  background-color: #0c0b0e;
  color: #fff;
}

#footer > .container {
  padding: 15px;
}

#footer .socialMedia{
    text-align: right;
    font-size: 2em;
}

#footer .socialMedia a{
    color: #fff;
}

#footer .socialMedia a:hover{
    color: #A24BE7;
}


/* Páginas Internas */

#internal{
    padding-top: 40px;
}

#internal h1 a, #internal h1 b{
    font-size: 0.6em;
    font-weight:normal;
    color: #0c0b0e;
}

#internal h1 a:hover{
    color: #7007c4;
    text-decoration: none;
}

.menuClub{
    text-align: center;
    border-bottom: 1px solid #ccc;    
    margin: 30px 0;
}

.menuClub a{
    font: 1.4em 'Oswald';
    text-transform: uppercase;
    color: #ccc;
    padding: 0 10px;
}

.menuClub a:hover, .menuClub .active{
    color: #7007c4;
    text-decoration: none;
}

.detailsCash {
    margin: 40px 0 80px 0;
}

.detailsCash h4{
    font: 1.2em 'Oswald';
    text-transform: uppercase;
    color: #222;
    margin: 20px 0 10px 0;
}

.detailsCash h4 b{
    color: #7007c4;
    font-weight: normal;
}

.detailsCash .col-sm-4{
    text-align: center;
    margin-bottom: 40px;
}

.detailsCash .col-sm-4 img{
    width: 100%;
}

/* Collapse */

#accordion{
    margin: 40px 0;
}

.panel-default{
    border-color: #fff;
}

.panel-default > .panel-heading{
    background: none;
    color:#7007c4;
    border-bottom: 1px solid #ccc;
}

.panel-title{    
    font: 1.4em 'Oswald';
    text-transform: uppercase;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body{
    border-top-color: #fff;
}

.panel-body{
     border-color: #fff;
}

.panel-title > .small:hover, .panel-title > .small > a:hover, .panel-title > a:hover, .panel-title > small:hover, .panel-title > small > a:hover,
.panel-title > .small:focus, .panel-title > .small > a:focus, .panel-title > a:focus, .panel-title > small:focus, .panel-title > small > a:focus{
    text-decoration: none;
}

.panel-body h1{
    color:#222;
    font: 1.2em 'Oswald';
    text-transform: uppercase;
    margin-bottom: 30px;
}


/* Formulário */

#accordion .form-control{
    background: #ccc;
    color: #0c0b0e;
}

#accordion .form-control:focus{
    background: #fff;
}

#accordion .form-control::-moz-placeholder{
    color: #555;
}

#accordion label{
    color: #0c0b0e;
}

#accordion label b{
    color:#7007c4;
}

.mainBtn{
    font: 1.5em 'Oswald';
    background: #7007c4;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 50px;
    border-radius: 0px;
    text-shadow: none;
    border: 0px;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
}

.mainBtn:hover, .mainBtn:focus{
    background: #0c0b0e;
    color: #fff;
}

/* Paginação */

.pagination > li > a, .pagination > li > span{
    border: none;
    color: #222;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li >.active{
    background: #7007c4;
    color: #fff;
}

/* Responsivo */

@media (max-width: 1200px){ 
    #instagram{
        display: none;
    }
}

@media (max-width: 991px){ 
    
    .navbar-default .navbar-nav > li > a, .nav-internal .navbar-nav > li > a{
        font-size: 1em;
    }
    
    .navbar-default .navbar-brand, .nav-internal .navbar-brand{
        width: 150px;
        height: auto;
    }
    
    .navbar-default .navbar-brand img, .nav-internal .navbar-brand img{
        width: 100%;
        height: auto;
    }
    
    .navbar-default .navbar-nav, .nav-internal .navbar-nav{
        margin-top: 26px;
    }
    
    .cashbackDiagram > ul > li{
        width: 50%;                        
        width: -webkit-calc(50% - 10px);  
        width: -moz-calc(50% - 10px);       
        width: calc(50% - 10px);  
        margin: 0 20px 20px 0;
        height: 384px;
    }
    
    .cashbackDiagram > ul > li:nth-child(2n){
        margin-right: 0px;
    }
    
    
    .cashbackDiagram > ul > li:nth-child(5), .cashbackDiagram > ul > li:nth-child(6){        
        float: left;
    }
    
    .cashbackDiagram > ul > li:nth-child(2):before{
        border-right: 21px solid transparent;
        border-left: 21px solid transparent;
        border-top: 21px solid #7007c4;
        right:auto;
        top: auto;
        bottom: -42px;
        left: 50%;
        margin-left: -21px;
    }
    
    .cashbackDiagram > ul > li:nth-child(5):before{
         border-top: 21px solid transparent;
        border-bottom: 21px solid transparent;
        border-left: 21px solid #7007c4;
        border-right: 21px solid transparent;
        right: -42px;
        left: auto;
    }
    
    .partnersCash .back a{
        padding-top: 20%;
        font-size: 0.9em;
    }
    
    .partnersCash .back a > h3{
        font-size: 1em;
    }
    
    .emioloLogo, .socialMedia{
        width: 50%;
        float: left;
    }
    
}

@media (max-width: 767px){
    
    .topBar > a, .topBar > span{
    }
    
    .navbar-default .navbar-brand, .nav-internal .navbar-brand{
        float: left;
        margin: 10px 0px 0px 20px;
    }
    
    .navbar-default .navbar-toggle, .nav-internal .navbar-toggle{
        margin: 40px 30px 0px 0px;
        border-color: #fff;
        background: rgba(0,0,0,0.8);
    }
    
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .nav-internal .navbar-toggle:hover, .nav-internal .navbar-toggle:focus{
        background: #7007C4;
    }
    
    .navbar-default .navbar-toggle > .icon-bar, .nav-internal .navbar-toggle > .icon-bar{
        background: #fff;
    }
    
    .navbar-default .navbar-nav, .nav-internal .navbar-nav{        
        background: rgba(0,0,0,0.8);
        margin-top: 5px;
    }
    
    .navbar-default .navbar-nav > li, .nav-internal .navbar-nav > li{
        text-align: center;
    }
    
    .nav-down .navbar-brand{
        padding-top: 0;
    }
    
   .nav-down .navbar-toggle{
        margin-top:26px;
    }
    
    .internalAreas > h2{
        text-align: center;
    }
    
    .cashbackImg{
        display: none;
    }
    
    .cashbackDiagram{
        display: block;
    }
    
    .partnersCash > li, .providers>li{
        width: 35%;
        margin-left:33%;
    }
    
    .partnersCash .back a{
        padding-top: 28%;
        font-size: 1.1em;
    }
    
    .partnersCash .back a > h3{
        font-size: 1.5em;
    }
    
    
    #internal h1 a{
        display: block;
    }
    
    #internal h1 b{
        display: none;
    }
    
    .detailsCash .col-sm-4 img{
        width: 50%;
    }
}

@media (max-width: 550px){
    
    .club > li{
        width: 100%;
        margin: 0 0 20px 0;
    }
    
    .cashbackDiagram > ul > li{
        width: 100%;
        margin: 0 0 20px 0;
    }
    
    .cashbackDiagram > ul > li:nth-child(1), .cashbackDiagram > ul > li:nth-child(2), .cashbackDiagram > ul > li:nth-child(3), .cashbackDiagram > ul > li:nth-child(4), .cashbackDiagram > ul > li:nth-child(5),
    .cashbackDiagram > ul > li:nth-child(6){
        float: left;
    }
    
    .cashbackDiagram > ul > li:nth-child(1):before, .cashbackDiagram > ul > li:nth-child(4):before, .cashbackDiagram > ul > li:nth-child(5):before{
        border-right: 21px solid transparent;
        border-left: 21px solid transparent;
        border-top: 21px solid #7007c4;
        right:auto;
        top: auto;
        bottom: -42px;
        left: 50%;
        margin-left: -21px;
    }
    
    .partnersCash .back a > h3{
        font-size: 1.2em;
        padding: 5px;
    }
    
    .partnersCash .back a{
        padding-top: 17%;
    }
    
    .contactLink{
        width: 100%;
        margin:  0 0 20px 0;
    }
    
    .topBar span{
        display: none;
    }
    
    .menuClub > a{
        display: block;
        margin-bottom: 5px;        
    }
    
    .detailsCash .col-sm-4 img{
        width: 80%;
    }
}

@media (max-width: 450px){
    
    .partnersCash > li, .providers>li{
        width: 50%;
        margin-left:25%;
    }
    
    .partnersCash .back a > h3{
        font-size: 1.1em;
    }
    
    .partnersCash .back a{
        padding-top: 12%;
    }    
    
    .contactLink{
        font-size: 1.3em;
    }
    
    .panel-title{    
        font-size: 1.2em;
    }

}

@media (max-width: 350px){
    
    .partnersCash > li, .providers>li{
        width: 70%;
        margin-left:15%;
    }  
    
    .detailsCash .col-sm-4 img{
        width: 100%;
    }
}